/* CSS Réalisé par Alexis DOMINIQUE*/ 

body
{
	background: url('images/bg.png') center no-repeat;
	background-position: fixed;
	font-family: Helvetica Narrow, sans-serif;
}

a
{
	font-weight: none;
	text-decoration: none;
	color: #595959;
}

header
{
	background: url('images/header.png') center no-repeat;
	height: 115px;
	max-width: auto;
	position: relative;
	margin-left: -9px;
	margin-right: -8px;
	margin-top: -8px;
}

.header_center
{
	height: 115px;
	width: 970px;
	margin: auto;
	overflow: hidden;
	clear: both;
}

#logo {

	background: url('images/logo.png') no-repeat;
	height: 61px;
	width: 436px;
	float: left;
	margin-top: 25px;
}

#coordonnees
{
	background-color: #181818;
 	opacity: 0.5;
 	filter: alpha(opacity=50);
	height: 85px;
	width: 346px;
	float: right;
	margin-top: 10px;
	margin-right: 5px;
	padding: 5px;
	color: #fff;
	border-radius: 3px;
	font-size: 11px;
}

.principal
{
	background: #FFFAF0;
	height: auto;
	width: 970px;
	margin: auto;
	clear: both;
	overflow: hidden;
	border-radius: 0 0 3px 3px;
	box-shadow: 0 0 5px;
	clear: both;
}

#esth_salon
{
	background: url('images/esth_salon1.png');
	height: 115px;
	width: 968px;
	margin: auto;
	box-shadow: 0 0 1px;
}

/* ASIDE - BOX GAUCHE */

aside
{
	float: left;
	display: inline-block;
	height: auto;
	width: 310px;
	overflow: hidden;
	margin-top: 10px;
}

#box_aside
{
	height: auto;
	width: 275px;
    background: rgba(255,255,255,1);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
    margin-right: 5px;
    float: right;
    padding: 10px;
    color: #595959;
}

#titre_box_aside
{
	height: 15px;
	width: 255px;
    background-color: #977375;
    background-position: 50% 50%;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 20px;
    margin: auto;
    padding: 10px;
    color: #fff;
}

.contenu_box_aside
{
	margin-top: 10px;
}

/* SECTION - BOX DROITE */

section
{
	float: right;
	height: auto;
	width: 660px;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
}

#box_section
{
	height: auto;
	width: 620px;
    background: rgba(255,255,255,1);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
    margin: auto;
    padding: 10px;
    color: #595959;
}

#titre_box_section
{
	height: 15px;
	width: 600px;
    background-color: #977375;
    background-position: 50% 50%;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 20px;
    margin: auto;
    padding: 10px;
    color: #fff;
}

#titre_box_prestations
{
	height: 15px;
	width: 600px;
    background-color: #b8a0a2;
    background-position: 50% 50%;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
}

.hr_prestations
{
	height: 1px;
	width: 620px;
	background: #595959;
	margin-top: 5px;
	margin-bottom: 5px;
}

.contenu_box_section
{
	margin-top: 10px;
	text-align: justify;
	font-size: 13px;
}

/* FOOTER */

#footer 
{
	background: #977375;
	bottom: 0;
    max-width: auto;
    height: 100px;
    margin-top: 15px;
    margin-left: -9px;
    margin-right: -8px;
    color: #f0f0f0;
    text-align: left;
    font-size: 12px;
    padding-top: 10px;
}

#footer a
{
	color: #fff;
}

#footer_contenu
{
	height: auto;
	width: 970px;
	margin: auto;
}

#footer_text_gauche
{

	width: 485px;
	height: auto;
	float: left;
	display: inline-block;
}

#footer_text_droite 
{

	width: 180px;
	height: auto;
	float: right;
	display: inline-block;
}

#deco
{
	font-size: 11px;
	text-transform: uppercase;
}

#gerer
{
	font-size: 11px;
	text-transform: uppercase;
}

#form_text 
{

	width: 93%;
	height: 40px;
    color: #555555;
    outline: none;
    padding: 7px;
    border: 2px solid #ddd;
    background: #f7f7f7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

textarea
{

	width: 93%;
	height: 200px;
    color: #555555;
    outline: none;
    padding: 7px;
    border: 2px solid #ddd;
    background: #f7f7f7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


#id_client
{
	width: 93%;
	height: 40px;
    color: #555555;
    outline: none;
    padding: 7px;
    border: 2px solid #ddd;
    background: #f7f7f7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#rendez_vous
{
	width: 93%;
	height: 40px;
    color: #555555;
    outline: none;
    padding: 7px;
    border: 2px solid #ddd;
    background: #f7f7f7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#id_produit0
{
	width: 93%;
	height: 40px;
    color: #555555;
    outline: none;
    padding: 7px;
    border: 2px solid #ddd;
    background: #f7f7f7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#quantite_produit0
{
	width: 93%;
	height: 40px;
    color: #555555;
    outline: none;
    padding: 7px;
    border: 2px solid #ddd;
    background: #f7f7f7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#id_produit1
{
	width: 93%;
	height: 40px;
    color: #555555;
    outline: none;
    padding: 7px;
    border: 2px solid #ddd;
    background: #f7f7f7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#quantite_produit1
{
	width: 93%;
	height: 40px;
    color: #555555;
    outline: none;
    padding: 7px;
    border: 2px solid #ddd;
    background: #f7f7f7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#id_produit2
{
	width: 93%;
	height: 40px;
    color: #555555;
    outline: none;
    padding: 7px;
    border: 2px solid #ddd;
    background: #f7f7f7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#quantite_produit2
{
	width: 93%;
	height: 40px;
    color: #555555;
    outline: none;
    padding: 7px;
    border: 2px solid #ddd;
    background: #f7f7f7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#id_produit3
{
	width: 93%;
	height: 40px;
    color: #555555;
    outline: none;
    padding: 7px;
    border: 2px solid #ddd;
    background: #f7f7f7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#quantite_produit3
{
	width: 93%;
	height: 40px;
    color: #555555;
    outline: none;
    padding: 7px;
    border: 2px solid #ddd;
    background: #f7f7f7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#id_produit4
{
	width: 93%;
	height: 40px;
    color: #555555;
    outline: none;
    padding: 7px;
    border: 2px solid #ddd;
    background: #f7f7f7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#plus
{
	width: 15px;
  	height: 10px;
 	background: none repeat scroll 0 0 #f1a23b;
 	padding: 5px;
 	padding-bottom: 10px;
 	border: medium none;
 	border-radius: 5px;
 	color: #fff;
 	outline: medium none;
 	cursor: pointer;
 	float: left;
 	margin-right: 10px;
 	margin-top: 10px;
 	text-align: center;
 	opacity: 1;
 	display: block;
 	font-size: 14px;
}

#quantite_produit4
{
	width: 93%;
	height: 40px;
    color: #555555;
    outline: none;
    padding: 7px;
    border: 2px solid #ddd;
    background: #f7f7f7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#connexion {

	width: 91.5%;
  	height: 38px;
 	background: none repeat scroll 0 0 #6bcd70;
 	padding: 9px;
 	border: medium none;
 	border-radius: 5px;
 	color: #fff;
 	outline: medium none;
 	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
 	margin-top: 10px;
 	text-align: center;
 	opacity: 1;
 	display: block;
 	font-size: 14px;
}

#effacer {

	width: 91.5%;
  	height: 38px;
 	background: none repeat scroll 0 0 #f1a23b;
 	padding: 9px;
 	border: medium none;
 	border-radius: 5px;
 	color: #fff;
 	outline: medium none;
 	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
 	margin-top: 10px;
 	text-align: center;
 	opacity: 1;
 	display: block;
 	font-size: 14px;
}


#connexion_historique {

	width: 91.5%;
  	height: 38px;
 	background: none repeat scroll 0 0 #6bcd70;
 	padding: 9px;
 	border: medium none;
 	border-radius: 5px;
 	color: #fff;
 	outline: medium none;
 	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
 	margin-top: 10px;
 	text-align: center;
 	opacity: 1;
 	display: block;
 	font-size: 14px;
}

#connexion:hover {

  	opacity: 0.7;
}

.panel1
{
	width: auto;
  	height: 10px;
 	background: none repeat scroll 0 0 #f1a23b;
 	padding: 5px;
 	padding-bottom: 10px;
 	border: medium none;
 	border-radius: 5px;
 	color: #fff;
 	outline: medium none;
 	cursor: pointer;
 	float: left;
 	margin: 5px;
 	text-align: center;
 	opacity: 1;
 	display: block;
 	font-size: 14px;
}

.panel2
{
	width: 97%;
  	height: 20px;
 	background: none repeat scroll 0 0 #478ade;
 	padding: 5px;
 	padding-bottom: 5px;
 	border: medium none;
 	border-radius: 5px;
 	color: #fff;
 	outline: medium none;
 	cursor: pointer;
 	margin: auto;
 	margin: 5px;
 	text-align: center;
 	opacity: 1;
 	display: block;
 	font-size: 14px;
}

.panel3
{
	width: auto;
  	height: 10px;
 	background: none repeat scroll 0 0 #6bcd70;
 	padding: 5px;
 	padding-bottom: 10px;
 	border: medium none;
 	border-radius: 5px;
 	color: #fff;
 	outline: medium none;
 	cursor: pointer;
 	float: left;
 	margin: 5px;
 	text-align: center;
 	opacity: 1;
 	display: block;
 	font-size: 14px;
}

.panel4
{
	width: auto;
  	height: 10px;
 	background: none repeat scroll 0 0 #db2e34;
 	padding: 5px;
 	padding-bottom: 10px;
 	border: medium none;
 	border-radius: 5px;
 	color: #fff;
 	outline: medium none;
 	cursor: pointer;
 	float: left;
 	margin: 5px;
 	text-align: center;
 	opacity: 1;
 	display: block;
 	font-size: 14px;
}

.list_produit
{
	width: 93%;
	height: auto;
    color: #555555;
    outline: none;
    padding: 7px;
    border: 2px solid #ddd;
    background: #f7f7f7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    clear: both;
    overflow: hidden;
}

.table_admin
{
	background-color: #f1f1f1;
	border-style: dashed;
	font-size: 13px;
	border: 1px dashed black;
}

.td_admin
{
	border-style: solid;
	font-size: 13px;
	border: 1px solid black;
}

.td_admin_donnees
{
	background-color: #fff;
	border-style: solid;
	font-size: 13px;
	border: 1px solid black;
}

#div_carte
{
height : 600px; 
width : 600px; 
margin : auto; 
border : 1px solid #888; 
}